@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #101827;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}


@layer components {
  .btn-reset {
    @apply border-none p-0 m-0 w-auto overflow-visible bg-transparent text-inherit;
  }
}